@use "./variables" as v;
@use "./mixins" as m;

.container {
  max-width: v.$large-size;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  @include m.media("medium") {
    max-width: v.$medium-size;
  }

  @include m.media("large") {
    padding: 0;
  }
}

.section {
  padding: 100px 0;
  background-color: v.$color-light;

  &--accent {
    background-color: v.$color-light-accent;

    pre {
      background-color: v.$color-light;
    }
  }
}

img.elevation {
  border-radius: 0.5rem;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.spacing {
  &--small {
    margin-bottom: 1rem;
  }
}

.title {
  &--small {
    font-weight: 300;
  }
}

.text {
  &--large {
    font-size: 2.25rem;
  }
}

a {
  color: v.$link-color;
}

code {
  background-color: v.$color-light-accent;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

pre {
  white-space: nowrap;
  padding: 0.875rem;
  margin-bottom: 1.625rem; // 26px
  border-radius: 0.5rem;
  background-color: v.$color-light-accent;
  font-size: 0.875rem; // 14px
}
