$color-light: #fff;
$color-light-accent: #f4f7fc;
$color-dark: #000;
$link-color: #386bf3;
$footer-text-color: hsla(0, 100%, 100%, 0.6);
$footer-link-color: hsla(0, 100%, 100%, 0.8);

$font-open-sans: "Open Sans", sans-serif;

$medium-size: 768px;
$large-size: 992px;

$breakpoints: (
  "medium": $medium-size,
  "large": $large-size,
);
