@use "../modules/mixins" as m;

.easy-to-use {
  text-align: center;
  @include m.media("large") {
    .container {
      max-width: 500px;
    }
  }
}

@include m.media("large") {
  .static-random-image,
  .blur {
    .content {
      order: 2;
    }
  }
}
